body {
  text-align: center;
}
footer {
  bottom: 0;
  font-size: 12px;
  margin: 0 auot;
  position: absolute;
  width: 100%;
}
footer a {
  color: #262626;
  font-weight: bold;
  text-decoration: none;
}
body.calc footer, body.calc footer a {
  color: #e7e7e7;
}
#nav > ul li {
  display: inline;
  margin: 0 20px;
}
#nav>ul li a {
  color: #262626;
  font-weight: 100;
  text-decoration: none;
}
#nav>ul li a:hover {
  color: #000;
  font-weight: 400;
}
#nav > ul {
  margin: 0 auto 100px;
  padding-top: 40px;
  width: 100%;
}
#nav > div {
  margin: 0 auto;
  max-width: 740px;
  width: 100%;
}
#nav ul{
  list-style-type: none;
  padding-left: 0;
}
#nav {
  color: #2c3e50;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
